.detailed-card {
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  overflow-y: auto;
}

.detailed-card h2 {
  margin: 0 0 10px;
  font-size: 1.8em;
  color: #2dbdc2;
}

.detailed-card p {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.5;
  color: #555;
}

.detailed-card a {
  color: #2dbdc2;
  text-decoration: none;
}

.detailed-card a:hover {
  text-decoration: underline;
}

.close-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .styled-input {
    max-width: 400px;
  }
  
  .location-button-container {
    left: calc(50% - 260px);
  }

  .selected-preschool-card {
    width: 70%;
    max-width: 500px;
  }
}

@media (min-width: 1400px) {
  .styled-button-2, .close-button {
    margin-left: 600px;
  }

  .cards-container {
    max-height: 25%;
  }

  .cards-container.expanded {
    max-height: 75%;
  }
}