/* .detailed-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.detailed-card h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.detailed-card p {
  margin: 5px 0;
}

.detailed-card a {
  color: #1a0dab;
  text-decoration: none;
} */
