.footer {
  background-color: #4A90E2;
  color: white;
 
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top:100px
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 0;
  font-size: 1em;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f1f1f1;
}

@media (max-width: 768px) {
  .footer-content {
    padding: 0 20px;
  }

  .footer-links a {
    margin: 0 10px;
  }
}
