/* GoogleMap.css */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden; /* Förhindra vertikal rullning på hela sidan */
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.search-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 5px;
  z-index: 2;
  border: solid 2px;
  border-color: #2dbdc2;
}

.styled-input {
  padding: 5px;
  border: none;
  outline: none;
  width: 400px;
  border-radius: 5px 0 0 5px;
  margin-right: 5px;
}

.styled-button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  height: 38px;
}

.filter-container {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.filter-button {
  background-color: rgb(230, 230, 230);
  padding: 5px 25px;
  width: 130px;
  border: solid 2px;
  border-color: #2dbdc2;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.filter-button:hover {
  background-color: #2dbdc2;
  color: white;
  border-color: #1581ac;
}

.drag-handle {
  cursor: move;
  background: #1acbe2;
  padding: 20px;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 10px;
  z-index: 2000; /* Ensure it is above other elements */
  position: relative;
 
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 1000;
  transition: height 0.3s ease;

  overflow-y: auto; /* Allow vertical scrolling within the container */
}

.cards-container.show {
  display: flex;
  
  min-height: 900px;
}

.cards-container.hidden {
  display: none;
}

.close-button {
  left: 20%;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  position: fixed;
  z-index: 4;
}

.show-button {
  display: none;
  padding: 15px 25px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  position: fixed;
  bottom: 20px;
  z-index: 4;
  margin-bottom: 40px;
}

.cards-container.hidden + .show-button {
  display: block;
}

.selected-preschool-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media (max-width: 600px) {
  .styled-input {
    width: 200px;
  }
}
