.header {
  
  
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #b5dce7;
  position: relative;
  top: 0;
  z-index: 1;
  animation: slideIn 1s ease-out;
}

.header-image {
  width: 50%; /* Adjust percentage as needed */
  max-width: 300px; /* Max width to ensure it's not too large */
  height: auto;
}

@media (max-width: 768px) {
  .header-image {
    width: 80%; /* Adjust percentage for smaller screens */
    max-width: 200px; /* Max width for smaller screens */
  }
}
