/* .preschool-card {
  width: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
}

.preschool-card:hover {
  transform: scale(1.05);
}

.preschool-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.preschool-card p {
  margin: 5px 0;
} */
