/* App.css */
body, html, #root, .app-container {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.map-background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1; /* Lägre z-index för att säkerställa att kartan är längst ner */
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 3; /* Högre z-index än kartan */
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  margin: 0;
  font-size: 24px;
}

.content {
  position: relative;
  display: flex;
  flex: 1;
  padding: 80px 20px 20px;
  z-index: 2; /* Högre z-index än kartan men lägre än header */
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding:100px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 4; /* Högre z-index för att säkerställa att den alltid syns */
}

.styled-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
  max-width: 300px;
}

.styled-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.styled-button:hover {
  background-color: #45a049;
}

.map-container {
  flex: 2;
  position: relative;
}










.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.close-button:hover {
  background-color: #d32f2f;
}

.right-panel {
  position: absolute;
  margin-top:200px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  z-index: 4; /* Högre z-index för att säkerställa att panelen är överst */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.right-panel .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Media queries for responsive design */
@media (min-width: 1200px) {
  .right-panel {
    right: 0;
    width: 300px; /* Width for larger screens */
  }

  .content {
    display: flex;
  }

  .cards-container {
    flex: 1;
  }

  .map-container {
    flex: 2;
    margin-right: 320px; /* Leave space for the right panel */
  }
}

@media (max-width: 768px) {
  .right-panel {
    top: 0;
    width: 100%;
    height: 300px; /* Fixed height for smaller screens */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding:10px;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 4; /* Högre z-index för att säkerställa att den alltid syns */
  }

  .content {
    flex-direction: column;
  }
  .styled-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
    max-width: 250px;
  }
  
  .styled-button {
    padding: 5px 10px;
    font-size: 13px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .cards-container {
    order: 2;
  }

  .right-panel {
    order: 1;
  }
}


/* Media queries for responsive design */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .cards-container {
    max-width: 100%;
    margin-left: 0;
  }

  .map-container {
    height: 300px; /* Fixed height for smaller screens */
  }
}
