/* app-container */
.app-container {
  /* position: fixed; */ /* Kommentar ut för att testa om detta påverkar */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto; /* Lägg till detta för att tillåta rullning */
}

/* survey-container */


/* Resterande CSS för Survey-Container här... */
