/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Comic Sans MS, Comic Sans, cursive';
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  background-color: #FFF9C4; /* Light yellow background */
}

/* Container for Map and Cards */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden; /* Prevent container from scrolling horizontally */
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden; /* Prevent main from scrolling horizontally */
  position: relative; /* Ensure map-container is positioned correctly */
}

/* Map Container */
.map-container {
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Ensure map is behind header */
  overflow-x: hidden; /* Prevent map-container from scrolling horizontally */
}

.search-container {
  position: absolute; /* Changed from fixed to absolute */
  left: 50%;
  transform: translateX(-50%);
  z-index: 600;
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  transition: top 0.3s ease-in-out, margin-top 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-container.center {
  margin-top: 300px;
  font-size: 16px;
}

.search-container.top {
  top: 1px;
  margin-top: 0;
  font-size: 16px;
}

.initial-text {
  position: absolute;
  top: 50px; /* Justera efter behov */
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  font-size: 2rem;
  color: #FFF;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent bakgrund */
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Blur effekten för glaseffekt */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Ljusare kant för glasutseende */
  text-align: center; /* Centrera texten */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent cards-container from scrolling horizontally */
  padding: 15px;
  background: url('/src/images/kinder.webp') no-repeat center center; /* Lägg till bakgrundsbilden */
  background-size: cover; /* Se till att bilden täcker hela behållaren */
  position: relative;
  z-index: 100;
  height: 100vh;
  padding-top: 400px;
  border: 5px solid rgba(42, 230, 25, 0.3); /* Ljusare kant för glasutseende */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards-container.hidden {
  display: none;
}

.card {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent bakgrund */
  backdrop-filter: blur(10px); /* Blur effekten för glaseffekt */
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Ljusare kant för glasutseende */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #4CAF50;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is spaced out */
  width: 450px; /* Full width for smaller screens */
  height: 500px; /* Set a fixed height */
  box-sizing: border-box;
  position: relative; /* Ensure content is positioned relative to the card */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
  font-size: 1.5em;
}

.card-body {
  margin-top: 10px;
  flex-grow: 1; /* Allow body to grow */
  overflow-y: auto; /* Enable scrolling within the card body */
}

.card-body p {
  margin: 5px 0;
}

.details {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
}

.details p {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow content to wrap if needed */
}

.details span {
  font-weight: bold;
  color: #FF5722;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Detailed Card */
.detailed-card-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure it is above all other elements except the detailed card */
}

.detailed-card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 16px;
  overflow: auto; /* Ensure the entire card is scrollable */
}

.detailed-card-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow-y: auto; /* Make the content inside the card scrollable */
  position: relative;
  transition: transform 0.3s ease;
}

.detailed-card-content:hover {
  transform: scale(1.02);
}

.detailed-card button {
  background: rgba(244, 67, 54, 0.8);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.detailed-card button:hover {
  background: rgba(211, 47, 47, 0.8);
}

.detailed-card h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

.detailed-card h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #444;
}

.detailed-card p {
  margin: 5px 0;
  line-height: 1.6;
  color: #555;
}

/* Media Queries for Responsiveness */

/* For tablets and below */
@media (max-width: 768px) {
  .styled-input {
    width: calc(100% - 80px);
    font-size: 16px;
  }

  .search-container {
    position: absolute; /* Changed from fixed to absolute */
    width: 80%;
    font-size: 16px;
  }

  .search-container.center {
    margin-top: 300px;
    font-size: 16px;
    position: absolute; /* Changed from fixed to absolute */
  }

  .search-container.top {
    margin-right: 100px;
    font-size: 16px;
    margin-top: 3px;
    position: absolute; /* Changed from fixed to absolute */
  }

  .styled-button {
    padding: 10px 20px;
    font-size: 16px; /* Öka fontstorleken till minst 16px */
    margin-right: 10px;
    margin-top: 5px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    background-color: #FFF;
    position: relative;
    z-index: 10;
    padding-top: 400px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto;
  }

  .card {
    padding: 15px;
    width: 356px; /* Full width for smaller screens */
    height: 500px; /* Set a fixed height */
    font-family: Comic Sans MS, Comic Sans;
    margin-left: 10px; /* Move cards slightly to the left */
  }

  .card h3 {
    font-size: 18px;
    font-family: Comic Sans MS, Comic Sans;
  }

  .card p {
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .initial-text {
    position: absolute;
    top: 80px; /* Justera efter behov */
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 1rem;
    color: #FFF;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent bakgrund */
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Blur effekten för glaseffekt */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Ljusare kant för glasutseende */
    text-align: center; /* Centrera texten */
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    background-color: #FFF;
    position: relative;
    z-index: 10;
    padding-top: 450px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .search-container {
    position: fixed; /* Changed from fixed to absolute */
    left: 50%;
    width: 80%;
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans;
  }

  .search-container.center {
    margin-top: 200px;
    font-size: 16px;
    position: absolute; /* Changed from fixed to absolute */
  }

  .search-container.top {
    top: 10px;
    margin-top: 0;
    font-size: 16px;
    margin-right: 15px;
    position: absolute; /* Changed from fixed to absolute */
  }

  .styled-input {
    width: calc(100% - 70px);
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans;
  }

  .styled-button {
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
  }

  .card {
    width: 300px; /* Full width for smaller screens */
    height: 420px; /* Set a fixed height */
    font-size: 16px;
    margin-left: 10px; /* Move cards slightly to the left */
  }

  .card h3 {
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans;
  }

  .card p {
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans;
  }

  .detailed-card-content {
    width: 75%;
    padding: 10px;
  }

  .detailed-card button {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}

.detailed-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.detailed-card-content {
  padding: 20px;
  position: relative;
}

.close-button {
  background: none;
  border: none;
  color: #333;
  font-size: 1.5em;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  font-size: 2em;
}

p {
  margin: 10px 0;
}

.pdf-details, .school-details, .contacts {
  margin-top: 20px;
}

.walk-time {
  margin-top: 20px;
  font-weight: bold;
}
