/* App.css */
body, html, #root, .app-container {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.map-background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  margin: 0;
  font-size: 24px;
}

.content {
  position: relative;
  z-index: 2;
  padding: 80px 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.styled-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
  max-width: 300px;
}

.styled-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.styled-button:hover {
  background-color: #45a049;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.preschool-card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 200px; /* Fixed height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preschool-card:hover {
  background-color: #f0f0f0;
}

.selected-preschool-card {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
}

.selected-preschool-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.selected-preschool-card h2 {
  margin-top: 0;
}

.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.close-button:hover {
  background-color: #d32f2f;
}

.right-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  z-index: 5;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.right-panel .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .preschool-card {
    width: calc(100% - 40px);
  }
}
